name: Continuous Integration

on: [push]

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build add-on
      run: |
        cp -R addon servo_animation
        cp README.md LICENSE servo_animation
        zip -r blender_servo_animation_addon servo_animation
    - name: Archive add-on ZIP
      uses: actions/upload-artifact@v3
      with:
        name: blender_servo_animation_addon.zip
        path: |
          blender_servo_animation_addon.zip
  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    - name: Analysing the code with pylint
      run: |
        pylint ./addon
  test:
    name: "Test"
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        blender_version: 
        - {dir: "2.90", file: blender-2.90.0-linux64, ext: tar.xz}
        - {dir: "3.1", file: blender-3.1.0-linux-x64, ext: tar.xz}
        - {dir: "3.2", file: blender-3.2.0-linux-x64, ext: tar.xz}
    steps:
    - uses: actions/checkout@v3
    - name: Cache Blender
      id: cache-blender
      uses: actions/cache@v3
      with:
        path: blender
        key: ${{ matrix.blender_version.file }}
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
        cache: "pip"
        cache-dependency-path: requirements-dev.txt
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install --no-install-recommends -y unzip wget xz-utils libxi6 libxxf86vm1 libxfixes3 libxrender1 libgl1
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt
    - name: Download Blender
      if: steps.cache-blender.outputs.cache-hit != 'true'
      run: |
        wget https://download.blender.org/release/Blender${{ matrix.blender_version.dir }}/${{ matrix.blender_version.file }}.${{ matrix.blender_version.ext }}
        tar xf ${{ matrix.blender_version.file }}.${{ matrix.blender_version.ext }}
        mv ${{ matrix.blender_version.file }} blender
    - name: Create Blender symlink
      run: |
        sudo ln -s "$(pwd)/blender/blender" /usr/bin/blender
    - uses: actions/download-artifact@v3
      with:
        name: blender_servo_animation_addon.zip
    - name: Install add-on
      run: |
        unzip blender_servo_animation_addon.zip
        sudo ln -s "$(pwd)/servo_animation" "$(pwd)/blender/${{ matrix.blender_version.dir }}/scripts/addons/servo_animation"
    - name: Run tests inside Blender
      run: |
        ./test.sh
